<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="Entities"
         connectionString="metadata=res://*/RentingModel.csdl|res://*/RentingModel.ssdl|res://*/RentingModel.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;USER ID=RENTING;PASSWORD=Renting123;DATA SOURCE=localhost:1521/FREEPDB1;PERSIST SECURITY INFO=True&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>

  <entityFramework>
    <providers>
      <provider invariantName="Oracle.ManagedDataAccess.Client"
                type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.122.23.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>
        <assemblyIdentity name="Oracle.ManagedDataAccess"
                          publicKeyToken="89b483f429c47342"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.23.1"
                         newVersion="4.122.23.1" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces"
                          publicKeyToken="cc7b13ffcd2ddd51"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.7"
                         newVersion="10.0.0.7" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions"
                          publicKeyToken="cc7b13ffcd2ddd51"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0"
                         newVersion="4.2.4.0" />
      </dependentAssembly>

      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe"
                          publicKeyToken="b03f5f7f11d50a3a"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0"
                         newVersion="6.0.3.0" />
      </dependentAssembly>

    </assemblyBinding>
  </runtime>

</configuration>